# 04. 리스트, 튜플, 딕셔너리, 셋 학습
> python의 매우 중요한 데이터 타입
> python에선 모든 데이터 타입이 모두 다 객체

### 1. 리스트 클래스
1. list1 = list()		# 공백 리스트 생성<br>
- list2 = list("Hello")		# 문자 H, e, l, l, o를 요소로 가지는 리스트 생성<br>
- list3 = list(range(0, 5))	# 0, 1, 2, 3, 4를 요소가 가지는 리스트 생성<br>
- list4 = [ ] 			# 공백 리스트 생성<br>
- list5 = [ "H", "e", "l", "l", "o" ] 	# 문자 H, e, l, l, o를 요소로 가지는 리스트<br> 
- list6 = [ 0, 1, 2, 3, 4 ]# 0, 1, 2, 3, 4를 요소가 가지는 리스트 생성<br>

### 2. 복잡한 list
1. list1 = [12, "dog", 180.14] 				# 혼합 자료형 <br>
- list2 =  [["Seoul", 10], ["Paris", 12], ["London", 50]] 	# 내장 리스트<br> 
- list3 = ["aaa", ["bbb", ["ccc", ["ddd", "eee", 45]]]] 	# 내장 리스트 <br>

In [ ]:
list2 = list("hello")

In [ ]:
list2

In [ ]:
list2[1]

In [ ]:
a = []
a

In [ ]:
'''
java의 배열 타입 - 하나의 타입으로만 데이터 저장 가능
                 - 상위 타입으로 배열 생성시에 자손 타입의 객체들 저장 가능
java의 ArrayList 타입 - 기본 8가지를 제외한 모든 타입 즉 모든 객체들 저장 가능
python의 list타입 - 타입과 무관하게 혼합 타입 수용 가능
'''
a = [1, 2.5, 'string']
a[0]

In [ ]:
b = [[1,2,3], 'string']
b

In [ ]:
b[0]

In [ ]:
# b 참조하는 list 객체내에 3이라는 데이터값 출력
b[0][2]

In [ ]:
# b 참조하는 list의 3 대신에 '삼' 데이터로 치환
b[0][2] = '삼'
b[0]

In [ ]:
c = [1,2,3,4,5]

In [ ]:
c[-1]

### 3. 튜플
1. 변경 불가능한 리스트, 연산 사용 가능<br>
- tuple1 = ()<br>
- tuple2 = tuple()<br>
- t1 = (1, 2, 3, 4, 5)<br>
- t2 = ("red", "green", "blue")<br>
- t = t1 + t2 <br>
- t3 = 'test', 'test1', 'test2' #괄호없이 나영될 객체들도 튜플로 간주

In [ ]:
c[0]

In [ ]:
# [시작위치 : 마지막 위치-1]
c[1:3]

In [ ]:
# list는 곱하기 연산도 가능
c*2

In [ ]:
c + [8,9]

In [ ]:
c -3

In [ ]:
c

In [ ]:
3 in c

In [ ]:
7 in c

In [ ]:
# 원본 데이터 변경
del c[2]
c

In [ ]:
#? 하나의 del 문장으로 3과 5 삭제하기
c1 = c + [3,4,5]
c1

In [ ]:
del c1[2:3]
c1

### list를 stack처럼

1. append(데이터) : 호출시에 list의 가장 마지막에 데이터 추가 저장
2. pop(index) : index값으로 존재하는 모든 데이터 반환 + 삭제가 가능하나 stack처럼 개발할 경우 stack이란 자료 구조 타입에 맞게 가장 마지막 index값으로 데이터를 반환

In [ ]:
# list로 stack 구조 만들어 보기
# list 내에 데이터 저장 및 삭제
# append() : 저장
# pop() : 순서 상관없이 index로 뺀다.

list = [100,200]
list

In [ ]:
list.append(300)
list

In [ ]:
list.pop(1)

In [ ]:
list

In [ ]:
# list를 queue 구조처럼 만들어 보기
'''
list에서 index 즉 [index]로 데이터 반환/pop(index) 데이터 반환시 차이점
pop()은 데이터 반환 + 삭제
'''

list = [1,2,3]
list.append(4)
list

In [ ]:
i = 0 
while i<4:
    print(list)
    list.pop(0)
    i +=1

### list 정렬
1. sort() 함수 사용
2. 영어인 경우 대소문자가 혼용되었을 경우 우선순위는 대문자(아스키 코드값)<br>
    >대소문자 무시하면서 정렬 로직 추가도 가능
3. 역정렬 가능

In [ ]:
list = ['a', 'b', 'd', 'f','c']
list

In [ ]:
list.sort()

In [ ]:
list

In [ ]:
list = ['a', 'B', 'd', 'F','c']
list

In [ ]:
list.sort()
# 대소문자가 혼용되어 있을 경우 대문자 우선으로 정렬
list

In [ ]:
list2 = ['a', 'B', 'd', 'F','c']
list2

In [ ]:
#알파벳 대소문자 무시하고 정렬하기
list2.sort(key=str.lower)

In [ ]:
# 역정렬, 단 대소문자 무시
list2.sort(key=str.lower, reverse=True)
list2

In [ ]:
#? 사유 찾아보기 : 숫자를 빙자한 문자들은 아스키코드값 비교로 정렬
list3 = ['123', '34', '56', '2345']
list3.sort()
list3

In [ ]:
list3 = [123, 34, 56, 2345]
list3.sort()
list3

In [ ]:
list4 = ['b', 'a', 'c','d']
list4

In [ ]:
list4.reverse()

In [ ]:
list4

In [ ]:
# 문자열이지만 숫자로 인식해서 숫자처럼 정렬된다.
list33 = ['123', '34', '56', '2345']
list33.sort(key=int, reverse=True)
list33

In [ ]:
#? for문을 이용해서 list 변ㄴ수에 데이터 저장 : range(5)
# 저장함수 : append
# list가 이미 존재하는 상황에서 데이터 저장
myList = []
for i in range(0, 5):
    myList.append(i)
    print(myList)

In [ ]:
# mylist 데이터를 역순으로 변환하기
# sort() :  원본데이터 수정
# 
myList1 = []
for i in range(5):
    myList1.append(i)

In [ ]:
# 원본 데이터 유지를 위한 정렬이 필요한 경우 sorted() 사용
newMylist = sorted(myList, reverse=True)
print(newMylist)
print(myList)

In [ ]:
data = [['현경', '민지'], [23,24]]

In [ ]:
print(data[0][0], data[1][0])

In [ ]:
datadata = [[[1,2],['a','b']],['F']]

In [ ]:
datadata[0][1][0]

In [ ]:
# 미션 문제
'''
    나의 소중한 사람이 list 즉 이 문제 하나만으로 list에 대해서 충분히 숙지가 가능한 문제 내기
    주제 : 다양한 데이터 값의 주제여야함
        참고 : 아이쇼핑 + 이름 + 나이값... + ... 데이터 셋
        
'''
ccCollect = [[["자켓"],["김수연","김현경","이융희"],[30,26,23],["회색","갈색","검정색"]],[["니트"],["조두환","서동호","임동원"],[25,31,27],["흰색","노란색","파랑색"]]]

# 수연언니 찾기
length = len(ccCollect)
findValue = int(input("색깔 찾고자 하는 것 : 나이일 경우 1을 입력, 이름일 경우 2를 입력  "))

for first in range(length):
    if(findValue == 1):
        for age in range(len(ccCollect[first][2])):
            findAge = int(input("원하는 나이는? "))
            if(ccCollect[first][2][age]== findAge):
                print(ccCollect[first][3][age])
                
    elif(findValue == 2):
        for name in range(len(ccCollect[first][1])):
            findName = str(input("원하는 사람 이름은?  "))
            if(ccCollect[first][1][name]== findName):
                print(ccCollect[first][3][name])
                
    else:
        print("다시입력해주세요.")

### 3. 튜플
1. 변경 불가능한 리스트, 연산 사용 가능<br>
- 문법 : ()
- 개별 데이터 활용 : 고유한 index
- tuple1 = ()<br>
- tuple2 = tuple()<br>
- t1 = (1, 2, 3, 4, 5)<br>
- t2 = ("red", "green", "blue")<br>
- t = t1 + t2 <br>
- t3 = 'test', 'test1', 'test2' #괄호없이 나영될 객체들도 튜플로 간주

In [ ]:
t1 = (1,2,3)
t2 = ('a','b','c')

In [ ]:
print(t1 + t2)

In [ ]:
t1

In [ ]:
t1[2]

In [ ]:
t1[2] = 5

In [ ]:
t3 = (1,2,2,2,1,1,1,1,3,4,5)

In [ ]:
# 데이터 개수 확인
t3.count(1)

In [ ]:
# 데이터 위치값 확인
t3.index(5)

In [ ]:
# list에 튜플 저장시도
list1 = [(1,2,3),['a','b','c']]

In [ ]:
list1

In [ ]:
list1[0]

In [ ]:
#? 2라는 데이터만 출력
list1[0][1]

In [ ]:
# 다중 변수 선언 및 동시 초기화
x, y, z = 10,20,30
x

In [ ]:
y

In [ ]:
z

In [ ]:
(x1, y1) = (1,2)

In [ ]:
x1

In [ ]:
x1 = 10

In [ ]:
x1

In [ ]:
t = (1234,5678,'hello')
u = t, (1,2,3,4,5)
u

In [ ]:
u[0][2]

### 용어
> **패킹** : 하나의 변수에 여러개의 데이터를 넣는 구조 의미<br>
> **언패킹** : 하나의 변수에서 여러개의 데이터를 각각 꺼내오는 구조 의미

In [ ]:
t = 1,2,'hello'

In [ ]:
type(t)

In [ ]:
# 언패킹
x, y, z = t

In [ ]:
x

In [ ]:
# 튜플 반환 하는 함수
def tupleReturn(a,b):
    return a+b, a*b

tupleReturn(10,20)

In [ ]:
# 우선 해보고 코드로 스스로 이해하기
bomb = lambda x : x+10
'''
bomb - 변수이자 함수명처럼 사용됨
lambda - 이름 없는 단순한 로직의 함수 구조 선언 의미(재사용 관점이 절대 아님)
x - 변수명, 역할 = 인수값을 받는 변수
  - lambda 변수 선언과 수식의 구분자
x+10 - 수식 즉 처리 로직
'''
bomb(10)

In [ ]:
bomb = lambda x,y : x+y

bomb(10,20) #30

In [2]:
'''
이름이 없는 함수인 람다 함수 개발하기
1. 인수값 - 이름
2. 반환값 - 안녕하세요 이름님
'''
name = lambda x : print("안녕하세요 %s님"% x)
name("영선")

안녕하세요 영선님

### 4. Dict

1. 문법 : {key1:value1, key2:value2... }
- 활용 :  변수명[key값]
- 특정키를 주면 관련된 값을 돌려주는 내용 기반으로 검색하는 자료형
- 키(key)와 값(value)의 쌍으로 관리되는 객체
- 순서가 없음 
- 키는 절대 중복 안됨
- 주요함수 : get(), items(), keys(), values(), copy(), update
- 저장 및 활용<br>
    1. 이미 존재하는 dict에 추가 저장 : dict변수['newkey'] = 새로운값
    - 이미 존재하는 데이터 반환 : get(), ['key']
- doc<br>
https://docs.python.org/ko/3.6/library/stdtypes.html#dict

In [3]:
member = {'p1' : '공자', 'p2' : '장자'}

In [5]:
member['p1']

'공자'

In [7]:
#? p1이라는 key에 본인 이름을 저장
member['p1'] = '영선'
member['p1']

'영선'

In [8]:
len(member)

2

In [9]:
type(member)

dict

In [10]:
# 빈 사전 객체 생성
dict()

{}

In [11]:
# key=value라는 구조로 생성
dict(one=1, two=2)

{'one': 1, 'two': 2}

In [14]:
newdic = dict(one=1, two=2)
newdic['one']

1

In [15]:
#? list에 tuple/dict 타입을 데이터로 작성
list2 = [(1,2,3), {1 : 'd', 2 : 'c'}]

In [18]:
list2[1][1]

'd'

In [20]:
# list[1]에 저장된 dict의 k2값을 수정
list2[1][1] = "k2"
list2

[(1, 2, 3), {1: 'k2', 2: 'c'}]

In [21]:
datas = {'a':1, 'b':2, 'c':3, 'd':5}
datas['a']

1

In [25]:
# dict의 key들만 반환
keys = datas.keys()
list(keys)

['a', 'b', 'c', 'd']

In [27]:
value = datas.values()
list(value)

[1, 2, 3, 5]

In [28]:
for key in keys:
    print(key,datas[key])

a 1
b 2
c 3
d 5

In [30]:
for v in value:
    print(v)

1
2
3
5

In [33]:
# key, value를 동시에 반환해서 활용
# items는 dict 타입에서 key, value를 동시에 반환 및 활용 가능한 함수
for (key,value) in datas.items():
    print(key, value)

a 1
b 2
c 3
d 5

In [35]:
d = {'a' : 1, 'b' : 2}
d2 = d.copy()
d2

{'a': 1, 'b': 2}

In [36]:
d3 = {'c' : 3, 'd' : 4}

In [37]:
d.update(d3)

In [38]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
# dict의 key로 value값 반환
datas.get('a')

1

In [40]:
#새로운 key=value 구성이 가능
datas['f']=6
datas

{'a': 1, 'b': 2, 'c': 3, 'd': 5, 'f': 6}

In [43]:
# dict에 데이터 존재 여부
v = datas.get('test')
type(v)

NoneType

In [44]:
# 반복문 이용해서 데이터 존재 여부 확인
if 'a' in datas:
    print("a key는 존재")

a key는 존재

In [58]:
# command 창에 직접 입력하는 명령어를 jupyter notebook에서 실행
!python --version

Python 3.7.0

In [64]:
t = (1,2,3)
t[0] = 'k'

TypeError: 'tuple' object does not support item assignment

### 중간 점검
1. 숫자(정수, 실수), bool, 문자열...
- list [] : 값 수정가능, index로 데이터 관리 
- tuple () : 값 수정불가, index로 데이터 관리, dict {key : value}
- key는 절대 중복 불가
- set : {}, 중복데이터 불허, dict의 key타입으로 사용됨

### 5. 셋
1. 중복되지 않는 순서 없는 항목들 <br>
- set1 = {2, 1, 3} <br>
- set2 = set()
- https://docs.python.org/ko/3.6/library/stdtypes.html#set-types-set-frozenset

####  부분 집합 연산 & 합집합 연산
> issubset() - 부분 집합 여부 검사<br>
> issuperset() - 상위집합 여부 검사<br>

> union() - 합집합 <br>
> intersection() - 교집합, & 연산자 사용 가능<br>
> difference() - 차집합, - 연산자 사용 가능<br>

In [79]:
# 부부 집합 연산
A = {1, 2, 3}
B = {1, 2, 3}
A == B

True

In [80]:
# 부분 집합 연산
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B < A

True

In [81]:
# 부분 집합 연산
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B.issubset(A)

True

In [82]:
# 집합 연산
A = {1, 2, 3}
B = {3, 4, 5}

A | B

{1, 2, 3, 4, 5}

In [83]:
A & B

{3}

In [84]:
A - B

{1, 2}

In [53]:
# set 구조의 객체 생성
set2 = set()
set2

set()

In [54]:
type(set2)

set

In [55]:
set2 = {1,2,3}
set2

{1, 2, 3}

In [67]:
# 겹치는 문자는 전에 있던걸 지우고 최근 마지막 문자를 나타내는것
set3 = {1,2,3,3}
set3

{1, 2, 3}

In [73]:
set3.add(5)
set3

{1, 2, 5}

In [74]:
# 존재하는 데이터 삭제
set3.discard(3)
set3

{1, 2, 5}

In [75]:
# update함수를 활용한 추가
set4 = {7,8,9}
set3.update(set4)
set3

{1, 2, 5, 7, 8, 9}

In [76]:
# 데이터 존재 여부 검사
# not in : 데이터가 없을 때 true
# in : 데이터가 있을 때 true
7 not in set3

False

In [78]:
7 in set3

True

### Lab1 - 파티 동시 참석자 알아내기
> [문제] <br>
> 파티에 참석한 사람들의 명단이 세트 A와 B에 각각 저장되어 있다.<br>
> 2개 파티에 모두 참석한 사람들의 명단을 출력하려면 어떻게 해야 할까? <br>

> [출력 결과] <br>
> 2개의 파티에 모두 참석한 사람은 다음과 같습니다. <br>
> {'Park'}

In [8]:
A = ['a', 'park','c']
A
B = {'d':4, 'e':'e', 'f':'park'}

for b in B.values():
    for a in A:
        if a == b:
            print(a)

park

### Lab2 - 각각의 단어가 몇 번이나 나오는지를 계산하는 프로그램을 작성하기

> 문제<br>
>  - 사용자가 지정하는 파일을 읽어서 파일에 저장된 각각의 단어가 몇 번이나 나오는지를 계산하는 프로그램을 작성하여 보자.<br>

> 힌트<br>
    - key는 단어로, 나온 횟수는 value로 처리하기<br>
    - 필요한 타입 : 딕셔너리

In [ ]:
data = '''내 속엔 내가 너무도 많아 당신의 쉴 곳 없네
내 속엔 헛된바램들로 당신의 편할 곳 없네
내 속엔 내가 어쩔 수 없는 어둠 당신의 쉴 자리를 뺏고
내 속엔 내가 이길 수 없는 슬픔 무성한 가시나무숲같네

바람만 불면 그 메마른가지 서로 부대끼며 울어대고
쉴곳을 찾아 지쳐 날아온 어린새들도 가시에 찔려 날아가고
바람만 불면 외롭고 또 괴로워 슬픈 노래를 부르던 날이 많았는데

내 속엔 내가 너무도 많아서 당신의 쉴 곳 없네


바람만 불면 그 메마른가지 서로 부대끼며 울어대고
쉴곳을 찾아 지쳐 날아온 어린새들도 가시에 찔려 날아가고
바람만 불면 외롭고 또 괴로워 슬픈 노래를 부르던 날이 많았는데

내 속엔 내가 너무도 많아서 당신의 쉴 곳 없네'''

### Lab3  - 함축된 표현식으로 변경해 보기
> 1. 소스 분석하기<br>
> 2. 반복문을 함축 표현으로 변경해 보기
> 3. 알고리즘 문제로 많이 나오는 로직

In [ ]:
v = []
values = ['v1 test', 'v2 test', 'v3 test', 'v4', 'v5']
for x in values:
    if len(x) > 2:
        v.append(x.upper());

v