# 02. 자료형

1. 파이썬은 인터프리터 언어
2. 타입 : 부울, 정수, 실수, 문자열('' or "")
3. 파이썬 철학 : import this

참고 url : https://docs.python.org/ko/3.6/library/stdtypes.html#text-sequence-type-str

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print(9/5)

1.8

In [3]:
print(9//5)

1

### 2. 형변환
1. int() : 정수로 변환
2. str() : 문자열로 변환
3. float() : 실수로 변환

In [9]:
# 2라는 정수값을 문자열과 결합 연사자인 + 사용시 형변환 필수
# 데이터 함께 출력시, 표기로는 함께 출력 가능
print("문자열" + str(1))

문자열1

In [6]:
print("문자열" , 1)

문자열 1

In [10]:
float(True)

1.0

In [11]:
int(True)

1

In [13]:
#오류 int("True")
str(True)

'True'

# Lab1 - 자동 판매기를 시뮬레이션하는 프로그램 만들기
1. 문제
사용자는 1000원짜리 지폐와 500원짜리 동전, 100원짜리 동전을 사용할 수 있고, <br>
물건값을 입력하고 1000원권, 500원 짜리 동전, 100원짜리 동전을 사용할 수 있다.<br>
물건값을 입력하고 1000원권, 500원짜리 동전, 100원짜리 동전의 개수를 입력하면 <br>
거스름돈을 계산하여서 동전으로 변환한다<br><br>

2. 출력 결과 예시
물건값을 입력하시오: 750 <br>
1000원 지폐개수: 1 <br>
500원 동전개수: 0 <br>
100원 동전개수: 0 <br>
출력 500원= 0 100원= 2 10원= 5 1원= 0

In [22]:
num = int(input("물건값을 입력하시오 : "))
x = int(input("1000원 동전개수 : "))
y = int(input("500원 동전개수 : "))
z = int(input("100원 동전개수 : "))

sum = x * 1000 + y * 500 + z * 100
sum = sum - num

a = sum // 500
b = (sum - 500 * a) // 100
c = (sum - (500 * a + 100 * b)) // 10
d = (sum - (500 * a + 100 * b + 10 * c)) // 1

print ("500원 = ", a, "100원 = ",b, "10원 = ",c, "1원 = ",d)

물건값을 입력하시오 : 750
1000원 동전개수 : 1
500원 동전개수 : 0
100원 동전개수 : 0
500원 =  0 100원 =  2 10원 =  5 1원 =  0

### 3. 문자열

1. 문자들의 순서 있는 집합
- 여러러줄로 이뤄진 문자열 표현도 가능 - 단일, 쌍따옴표 표현
- print 함수 사용시 특수 기호로 처리 가능 : \r(문자열 앞단에 선언)
- str() : 문자열로 형변환
- 문자열 반복
- 문자열 출력
- 문자열 indexing
- 문자열 slice : 문자열의 일부 추출
- 문자열의 내장 함수 이해하기
- 참고 : strip()
    a. () space가 구분자이면서 삭제
    b. ("표기") : 표기가 구분자
    c. ("표기1표기2") : 두가지 다 구분자

In [41]:
#r 표기 유무에 따른 차이점 파악하기
# '''''' 문자열 데이터 표현, 다중라인 주석으로 사용 가능
data = r"문\a자열"
data1 = "문\a자열"
data2 = """문자열2"""

In [39]:
print(data)

문\a자열

In [27]:
print(data2)

"문자열2

In [44]:
print(data1)

문자열

In [49]:
#? - 표기를 곱하기 연산을 해서 20번 출력
print("-" * 20)

--------------------

In [51]:
data = "값"
print("확인 %s" % data)

확인 값

In [53]:
#? 함수 - 두개의 인수값을 받아서 %s 두개를 사용하셔서 출력하기
#출력 데이터 : 메세지 값, 값2 
def twoPrint(d1, d2):
    print("메세지 %s, %s" % (d1, d2))

In [55]:
twoPrint(2,4)

메세지 2, 4

In [56]:
twoPrint("문", "문1")

메세지 문, 문1

In [57]:
# 문자열 indexing
data = "abcde"
print(data[0])

a

In [58]:
print(data[0:2])

ab

In [59]:
print(data[::2])

ace

In [60]:
print(data.find('a'))
data = 'aaaa'
print(data.find('a'))

0
0

In [61]:
data = 'abcde'

In [62]:
data.upper()

'ABCDE'

In [63]:
data.title()

'Abcde'

In [67]:
data = "python like like like like like like"

In [68]:
data.count('like')

6

In [69]:
data.startswith("python")

True

In [70]:
data.startswith("Python")

False

In [71]:
data.endswith("like")

True

In [75]:
s2 = " 봄 여름 가을 겨울 " #일부러 봄 겨울 앞뒤 띈거임

In [77]:
s2.strip()# 앞뒤 여백 삭제

'봄 여름 가을 겨울'

In [80]:
s2.rstrip() #오른쪽 여벡 제거

' 봄 여름 가을 겨울'

In [81]:
s2.lstrip() #왼쪽 여백 제거

'봄 여름 가을 겨울 '

In [82]:
s3 = "><><><><>공자와 장자가 만나면 병길씨??<><><><><"

In [86]:
s3.strip("<>") #데이터 가공할때 많이씀

'공자와 장자가 만나면 병길씨??'

In [88]:
s3.split() #데이터가 구분이됨 띄어쓰기 기준으로

['><><><><>공자와', '장자가', '만나면', '병길씨??<><><><><']

In [103]:
#3이 참조하는 데이터를 믈음표까지 삭제
s3.strip("<>?").split()

['공자와', '장자가', '만나면', '병길씨']

In [104]:
s3

'><><><><>공자와 장자가 만나면 병길씨??<><><><><'

In [108]:
#인수로 반영된 데이터를 특정 표현으로 가공하는 함수
" ".join(s3)

'> < > < > < > < > 공 자 와   장 자 가   만 나 면   병 길 씨 ? ? < > < > < > < > <'

In [107]:
":".join(s3)

'>:<:>:<:>:<:>:<:>:공:자:와: :장:자:가: :만:나:면: :병:길:씨:?:?:<:>:<:>:<:>:<:>:<'

In [139]:
"""
공자와
장자가
만나면
병길씨
"""
s4 = s3.strip("<>?").split()
print("\n".join(s4))

공자와
장자가
만나면
병길씨

In [145]:
#문자별 데이터를 인코드 및 디코드 하기
# 유니코드를 문자열의 바이트로 변환
# 아스키 코드 : 영어, 숫자. 일부 특수기호를 전세계적으로 공통된 표기법으로 표준화
# 유니코드 : 전세계적으로 사용되는 문자등의 모든 표기들을 표준화
s = "data".encode()
print(s)
s = s.decode()
print(s)

b'data'
data

In [147]:
s2 = "가나다".encode()
print(s2)
s2 = s2.decode()
print(s2)

b'\xea\xb0\x80\xeb\x82\x98\xeb\x8b\xa4'
가나다

In [148]:
len(s2)

3

In [153]:
s3 = "abc"
s3.zfill(5)

'00abc'